$headline-highlights: ('dark-glare', 'primary', 'secondary', 'tertiary');

.headline {
  font-size: get-size('700');
  max-width: 18ch;

  @include media-query('md') {
    font-size: get-size('800');
  }

  @include media-query('lg') {
    font-size: get-size('900');
  }
}