// Adds consitent space and padding for each full panel section
.panel {
  margin: get-size('700') 0;
  padding: get-size('700') 0;

  @include media-query('md') {
    margin: get-size('800') 0;
    padding: get-size('800') 0;
  }
}
