.about {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    // This is a dark panel, so we need to flip the selection styles
    ::selection {
      // We set this as an RGBA because that’s how you get a solid color, by using 0.99
      // alpha value. Browsers are wild.
      background: rgba(get-color('light'), 0.99);
      color: get-color('dark-shade');
    }

    &__picture {

      width: 15rem;
      height: 15rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        border-radius: 100%;
      }
    }

    &__action {
      display: flex;
      justify-content: center;
    }

    @include media-query('md') {
      &__inner {

      }

      &__picture {
        width: 18rem;
        height: 18rem;
      }

      &__heading {

      }


      &__summary {

      }

      &__action {

      }
    }

    @include media-query('lg') {
      &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }

      &__picture {
        flex-shrink: 0;
        width: 20rem;
        height: 20rem;
      }


      &__action {

      }
    }
  }