.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__action {
        display: flex;
    }

    @include media-query('lg') {

        &__content {
            display: flex;
            justify-content: center;

            &__intro {
                padding-right: get-size('800');
            }
        }
    }
}