.intro {
  position: relative; 

  &__header {
    padding: get-size('800') get-size('500');
    z-index: 1;
  }
  
  &__heading {
    max-width: 600px;
  }

  &__media {
    position: absolute;
    right: -50%;
    left: 10%;
    top: 40%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  // Switch to an inline layout with some vert space
  // above the header and content
  @include media-query('md') {
    
    &__header {
      padding: get-size('800') get-size('500');
    }

    &__media {
      top: 30%;
      left: 20%;
      right: -40%;
    }
  }

  // Flip the ratio for larger breakpoints
  @include media-query('lg') {
    // Because it's so large, it make sense to limit the image height too
    &__media {
      top: 20%;
      right: -40%;
      left: 40%;
    }
  }
}