.intro {
  position: relative;

  &__header {
    padding: get-size('800') get-size('500');
  }

  &__heading {
    max-width: 600px;
  }

  &__media {
    position: absolute;
    bottom: 0;
    right: -20rem;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  @include media-query('md') {
    &__header {
      padding: get-size('800') get-size('500');
    }
  }
}
