.nav {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem 0.8rem;
    padding: 0;
  }

  li {
    margin: 0.1rem;
  }

  a {
    font-size: get-size("400");
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;

    @include apply-utility("font", "sans");
    @include apply-utility("weight", "normal");

    &:hover {
      color: get-color('secondary');
    }
  }
}
