.services {
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__intro {
    padding: 0 get-size('700');
  }

  // This is a dark panel, so we need to flip the selection styles
  ::selection {
    // We set this as an RGBA because that’s how you get a solid color, by using 0.99
    // alpha value. Browsers are wild.
    background: rgba(get-color('light'), 0.99);
    color: get-color('dark-shade');
  }

  &__picture {
    width: 13rem;
    height: 13rem;
    position: relative;
    padding-bottom: get-size('700');
    z-index: 2;

    img {
      height: 100%;
      width: auto;
      object-fit: fill;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include media-query('md') {
    &__picture {
      width: 18rem;
      height: 18rem;

      .circle {
        width: 25rem;
        height: 25rem;
        bottom: 10%;
        left: 40%;
      }
    }
  }

  @include media-query('lg') {
    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__picture {
      flex-shrink: 0;
      width: 20rem;
      height: 20rem;

      .circle {
        width: 30rem;
        height: 30rem;
        bottom: 20%;
        left: 40%;
      }
    }
    &__action {
      align-items: flex-start;
    }
  }
}
