.site-head {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: get-color('light-glare');
    padding: get-size('300') 0;

    &__inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__brand {
      flex-shrink: 0;
      margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo

      // Optical adjustment to account for the offset the sunken 3s create
      transform: translateY(0.25rem);

      svg {
        width: 100px;
      }
    }

    &__nav {
      width: 100%;

      .nav__list {
        display: flex;
        justify-content: space-around;
      }
    }

    @include media-query('md') {
      &__brand {
        svg {
          width: 160px;
        }
      }
    }
  }