.site-foot {
  display: flex;
  justify-content: center;
  padding: get-size('600') get-size('400');
  text-align: center;
  font-size: get-size('400');

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'light');
}