.site-foot {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: get-size('600') get-size('400');
  position: relative;

  div {
    font-size: get-size('400');
    text-align: center;
    z-index: 1;
    a {
      color: get-color('light-glare');
    }
  }

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'light');

  &:after {
    content: '';
    background: get-color('dark');
    border-radius: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    width: 150%;
    z-index: 0;
  }
}