.site-head {
    padding: 0.6rem 0;
    background: get-color('light-glare');
    border-top: 5px solid get-color('light-glare');
    border-bottom: 5px solid get-color('light');
    color: get-color('dark');
    line-height: 1.1;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;
    }

    &__brand {
        flex-shrink: 0;
        display: block;
        width: auto;
        svg {
            height: get-size('800');
            width: auto;
        }
    }
}
