<article
  id="about-me"
  class="[ about ] [ panel ] [ bg-dark-shade color-light ]"
>
  <div class="wrapper">
    <div class="[ about__inner ] [ flow ]">
      <div class="[ about__picture ]">
        <div class="circle"></div>
        <img src="{{ aboutMe.image }}" alt="{{ aboutMe.imageAlt}}" />
      </div>
      <div class="[ flow ]">
        <h2 class="[ about__heading ] [ headline ]">{{ aboutMe.title }}</h2>
        <p class="[ about__summary ] [ measure-short ]">
          {{ aboutMe.summary.section1 }}
        </p>
        <p class="[ about__summary ] [ measure-short ]">
          {{ aboutMe.summary.section2 }}
        </p>
        <p class="[ about__summary ] [ measure-short ]">
          {{ aboutMe.summary.section3 }}
        </p>
        <p class="[ about__summary ] [ measure-short ]">
          {{ aboutMe.summary.section4 }}
        </p>
        <div class="[ about__action ]">
          <a class="button" data-variant="ghost" href="{{ aboutMe.buttonUrl }}"
            >{{ aboutMe.buttonText }}</a
          >
        </div>
      </div>
    </div>
  </div>
</article>
