<form name="contact" method="POST" data-netlify="true" class="[ flow ] [ input ]">
  <p>
    <label>Nombre:</label>
    <input type="text" name="name" required/>
  </p>
  <p>
    <label>Email:</label>
    <input type="email" name="email" required/>
  </p>
  <p>
    <label>Teléfono:</label>
    <input type="phone-number" name="phone-number" required/>
  </p>
  <p>
    <label>Mensaje:</label>
    <textarea name="message" required></textarea>
  </p>
  <div class="[ form__action ] [ flow ]">
    <span>
      <input type="checkbox" name="policy" value="policy" required/>
      <label class="[ text-400 ]" for="policy">
        <a href="/politica-de-privacidad/">
          He leído y acepto la política de privacidad
        </a>
      </label>
    </span>
    <button class="[ button ]" type="submit" data-variant="form">
      Enviar tu mensaje
    </button>
  </div>
</form>
