<a class="[ skip-link ] [ button ]" href="#featured-services">Saltar al contenido principal</a>
<header class="site-head" role="banner">
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        {% include "partials/brand.svg" %}
      </a>
      <nav class="nav" aria-label="primary">
        <ul role="list">
          {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
          <!-- <li>
            <a href="{{ nav.buttonUrl }}" data-variant="nav" class="button">{{ nav.buttonText }}</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>